{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ message }}</h1>
    <a href="{{ path('task_list') }}" class="btn btn-primary">Vai alla lista delle attività</a>
{% endblock %}
